name: Reusable CI python install and test workflow
on:
  workflow_call:
    inputs:
      os:
        description: "Operating system to run this workflow on. Should match a valid Github runner name"
        required: true
        type: string
      py3version:
        description: "Minor version of Python version 3 to run the test on (e.g. `11` for python v3.11)"
        required: true
        type: string
      mamba_env_name:
        description: "Name of the Mamba environment. If it matches a name of a cached environment in the caller repository, that cache will be used."
        required: false
        default: ""
        type: string
      additional_mamba_args:
        description: "Any additional arguments to pass to micromamba when creating the python environment"
        required: false
        default: ""
        type: string
      cache_mamba_env:
        description: "If true, cache the mamba environment for speedier CI"
        required: false
        default: true
        type: boolean
      notebook_kernel:
        description: "If jupyter notebooks are included in the docs, specify the kernel name they expect, e.g. the package name"
        required: false
        type: string
      lint:
        description: "If true, check code quality with the Ruff linter"
        required: false
        default: true
        type: boolean
      pytest_args:
        description: "Additional arguments to pass to pytest"
        required: false
        type: string
        default: ""
      upload_to_codecov:
        description: "If true, upload coverage report to codecov. This assumes your repository is public as it does not expect an API key."
        required: false
        default: true
        type: boolean

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Use supplied Mamba environment name
      if: inputs.mamba_env_name != ''
      run: echo "MAMBAENVNAME=${{ inputs.mamba_env_name }}" >> $GITHUB_ENV

    - name: Create Mamba environment name based on OS and python version
      if: inputs.mamba_env_name == ''
      run: echo "MAMBAENVNAME=${{ inputs.os }}-3${{ inputs.py3version }}-${{ hashFiles('requirements/dev.txt') }}" >> $GITHUB_ENV

    - uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: latest
        environment-name: ${{ github.event.repository.name }}-${{ env.MAMBAENVNAME }}
        environment-file: requirements/base.txt
        create-args: >-
          ${{ inputs.additional_mamba_args }}
          -c city-modelling-lab
          -f requirements/dev.txt
          ruff
          python=3.${{ inputs.py3version }}
        post-cleanup: all
        cache-environment: ${{ inputs.cache_mamba_env }}

    - name: Install package
      run: pip install --no-dependencies -e .

    - name: Install jupyter kernel
      if: inputs.notebook_kernel != ''
      run: python -m ipykernel install --user --name ${{ inputs.notebook_kernel }}

    - name: Lint with Ruff
      if: inputs.lint
      run: ruff check .

    - name: run tests
      run: pytest ${{ inputs.pytest_args }}

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      if: inputs.upload_to_codecov
      env:
        directory: "./reports/coverage/"